#*.hdf5
data/shapenet10.hdf5
*.pkl
.idea/markdown-exported-files.xml
RAM_blocks/RAM_model.pyc
RAM_blocks/attentione2d.pyc
RAM_blocks/attentione3d.pyc
attention_module/
boosting/LeNet3D.pyc
bricks3D/LeNet3D.pyc
bricks3D/__init__.pyc
bricks3D/cnn3d_bricks.pyc
log/AdaDelta-Orth-Guassian-att5-itr3~
log/AdaDelta-Orth-Guassian-att5-itr5~
log/AdaDelta-Orth-Guassian-att5-itr7~
log/AdaDelta-Orth-Guassian-att8-itr3~
log/AdaGrad-Orth-Guassian-att8-itr3~
log/RAM3D/AdaDelta-Orth-Guassian-att5-itr5-0n128~
log/RAM3D/AdaDelta-Orth-Guassian-att5-itr5-0n64-sigma_e_1~
log/RAM3D/AdaDelta-Orth-Guassian-att5-itr5-0n64-sigma_e_5~
log/RAM3D/AdaDelta-Orth-Guassian-att8-itr5-0n128~
log/RAM3D/AdaDelta-Orth-Guassian-att8-itr5-0n64~
log/summary~
pkl/
